<div class="forgotPassword-container form-container  mat-elevation-z5">
  <h1> Forgot Password </h1>
  <form>
    <mat-form-field>
      <mat-label>Email</mat-label>
          <input matInput
            type="email"
            class="form-control"
            name="email"
            [(ngModel)]="email"
          />
          <!-- <mat-error *ngIf="email?.errors?.['required']">
            Email address is required
          </mat-error>
          <mat-error *ngIf="email?.errors?.['email']">
            Please enter a valid email address
          </mat-error> -->
      </mat-form-field>


      <div class="center margin-top">
        <button mat-raised-button color="primary" type="submit" (click)="forgotPassword()">Send Link</button>
      </div>
      <span class="center margin-top"> <a routerLink="/login" class="back-to-login" style="text-decoration: none;">Back to login </a></span>
  </form>
</div>
